@font-face {
  font-style: normal;
  font-weight: 200;
  font-family: 'oswald';
  src: url('oswald-extralight-webfont.woff2') format('woff2'),
       url('oswald-extralight-webfont.woff') format('woff');
}

@font-face {
  font-style: italic;
  font-weight: 200;
  font-family: 'oswald';
  src: url('oswald-extra-lightitalic-webfont.woff2') format('woff2'),
       url('oswald-extra-lightitalic-webfont.woff') format('woff');
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: 'oswald';
  src: url('oswald-light-webfont.woff2') format('woff2'),
       url('oswald-light-webfont.woff') format('woff');
}

@font-face {
  font-style: italic;
  font-weight: 300;
  font-family: 'oswald';
  src: url('oswald-lightitalic-webfont.woff2') format('woff2'),
       url('oswald-lightitalic-webfont.woff') format('woff');
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: 'oswald';
  src: url('oswald-regular-webfont.woff2') format('woff2'),
       url('oswald-regular-webfont.woff') format('woff');
}

@font-face {
  font-style: italic;
  font-weight: 400;
  font-family: 'oswald';
  src: url('oswald-regularitalic-webfont.woff2') format('woff2'),
       url('oswald-regularitalic-webfont.woff') format('woff');
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: 'oswald';
  src: url('oswald-medium-webfont.woff2') format('woff2'),
       url('oswald-medium-webfont.woff') format('woff');
}

@font-face {
  font-style: italic;
  font-weight: 500;
  font-family: 'oswald';
  src: url('oswald-mediumitalic-webfont.woff2') format('woff2'),
       url('oswald-mediumitalic-webfont.woff') format('woff');
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: 'oswald';
  src: url('oswald-demibold-webfont.woff2') format('woff2'),
       url('oswald-demibold-webfont.woff') format('woff');
}

@font-face {
  font-style: italic;
  font-weight: 600;
  font-family: 'oswald';
  src: url('oswald-demi-bolditalic-webfont.woff2') format('woff2'),
       url('oswald-demi-bolditalic-webfont.woff') format('woff');
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: 'oswald';
  src: url('oswald-bold-webfont.woff2') format('woff2'),
       url('oswald-bold-webfont.woff') format('woff');
}

@font-face {
  font-style: italic;
  font-weight: 700;
  font-family: 'oswald';
  src: url('oswald-bolditalic-webfont.woff2') format('woff2'),
       url('oswald-bolditalic-webfont.woff') format('woff');
}

@font-face {
  font-style: normal;
  font-weight: 900;
  font-family: 'oswald';
  src: url('oswald-heavy-webfont.woff2') format('woff2'),
       url('oswald-heavy-webfont.woff') format('woff');
}

@font-face {
  font-style: italic;
  font-weight: 900;
  font-family: 'oswald';
  src: url('oswald-heavyitalic-webfont.woff2') format('woff2'),
       url('oswald-heavyitalic-webfont.woff') format('woff');
}


@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: 'oswald-stencil';
  src: url('oswald-stencil-webfont.woff2') format('woff2'),
       url('oswald-stencil-webfont.woff') format('woff');
}
